/* beach-safety.css */

/* Styles for the body container */
.body {
    padding: 20px;
}

.swimming-safety {
    margin-bottom: 20px;
}

.swimming-safety h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.swimming-safety p {
    font-size: 16px;
    margin-bottom: 20px;
}

.swimming-safety h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.swimming-safety ul {
    list-style-type: disc;
    margin-left: 20px;
}

.swimming-safety li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Styles for the Sign Gallery section */
/* Styles for the Sign Gallery section */
.gallery-item__image {
    transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease; /* Apply transition to opacity, width, and height */
}

.gallery-item__image:hover {
    opacity: 0.6;
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
