/* beach-safety.css */
body{
  font-family: 'Arial';
}

.body {
  display: flex;
  flex-direction: row; 
  margin-top: 60px; 
  padding-left: 0; 
}

.sidebar {
  position: fixed;
  top: 278px; 
  left: 0;
  width: 350px;
  height: calc(100% - 60px); 
  background-color: #1E90FF;
  color: white;
  padding: 20px;
  box-sizing: border-box; 
}

.main-content {
  margin-left: 360px; 
  width: calc(100% - 270px); 
  z-index: 1;
  padding: 20px;
}

  .beach-safety-list {
    list-style-type: none;
    counter-reset: beach-counter;
    padding-left: 0;
  }
  
  .beach-safety-list li {
    counter-increment: beach-counter;
    margin-bottom: 15px;
    color: blue;
  }
  
  .beach-safety-list li::before {
    content: counter(beach-counter) ".";
    color: #007bff; 
    font-weight: bold;
    margin-right: 5px;
  }
  
  