.footer {
    background-color: #BEDCFE;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .footer-upper {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
  }
  
  .project-description {
    flex: 1;
    margin-left: 20px;
    font-size: 1.1em; 
  }
  
  .useful-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;
    justify-content: center;
  }
  
  .footer-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-link {
    cursor: pointer;
    color: #007bff;
    margin: 10px 0;
  }
  
  .back-to-top {
    position: absolute;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    right: 80px;
    bottom: 20px;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
  
  .contact-info, .copyright {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }
  