.header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #1C5D99;
}

.header img {
    width: 20%;
    margin-bottom: 20px;
}

.header button {
    background-color: #1C5D99;
    border: 2px solid transparent; 
    cursor: pointer; 
    padding: 5px 10px;
    font-size: x-large;
    margin: 20px;
    color: white;
}

.header button:hover {
    border-color: #BEDCFE;
}


