.quiz-rs {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.question-section-rs, .score-section-rs {
    margin-bottom: 2rem;
}

.question-count-rs {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

.question-text-rs {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.answer-section-rs {
    display: flex;
    flex-direction: column;
}

.answer-section-rs button {
    background-color: #0085FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 1rem;
}

.answer-section-rs button:hover {
    background-color: #1C5D99;
    transform: scale(1.02);
}

.answer-section-rs button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #005f73;
}

.score-section-rs {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.score-section-rs {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 640px) {
    .quiz-rs {
        padding: 1rem;
    }

    .question-text-rs, .score-section-rs {
        font-size: 1rem;
    }
}

.progress-bar-rs {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    margin-bottom: 20px;
}

.restart-button-rs {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button-rs:hover {
    background-color: #BEDCFE;
}
