
h1, h2, h3, h4, h5, h6 {
  color: #006eff; 
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#swim {
  max-width: 1200px; /* Set maximum width for content */
  margin: 0 auto; /* Center content horizontally */
  padding: 20px; /* Add padding around content */
}

h2 {
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

.gallery {
  padding: 0;
  margin: 0;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.gallery-item__image {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.gallery-item__text {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.gallery-item__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.gallery-item__facts {
  font-size: 18px;
  color: blue;
}
.navigation-buttons {
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 px;
  cursor: pointer;
  border-radius: 5px;
}

.InstructionsSwimFlags {
  font-style: italic;
  color: white;
  size: 80px;
  background-color: blue;
  border: 2px solid lavenderblush;
  padding: 15px;

animation-name: bounce;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.navigation-buttons {
  font-style: italic;
}


/* Adjust styles for flag counter */
.flag-counter {
  font-style: bold;
  size: 60px;
  margin-top: 100px; 
  margin-bottom: 20px; 
  display: flex;
  justify-content: center;
  color: black;
}

.flag-box {
  border: 2px darkgray;
  padding: 20px;
  margin: 20px;
  background-color: lightcyan;
}



